{% extends "base.html" %} {% load static %} 
{% block title %}Change Password{% endblock title %}
 {% block content %}

<!-- Page Add Section Begin -->
<section >
  <div class="container text-center mb-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-breadcrumb">
          <h3>Change your Password</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page Add Section End -->

<!-- Contact Section Begin -->
<div>
  <div class="container w-50">
        <div class="row">
            <div class="col-lg-12">
                <form class="contact-form " method="POST" novalidate>
                    {% csrf_token %}
                    <div class="row">
                            {% if messages %}
                        <div class="col-lg-12 py-1"> 
                            {% include "message.html" %}
                        </div>
                        {% endif %}
                        <div class="col-lg-12 py-1">
                           {{form.current_password}}
                            {{form.current_password.errors}}
                        </div>


                        <div class="col-lg-12 py-1">
                           {{form.new_password1}}
                            {{form.new_password1.errors}}
                        </div>

                        <div class="col-lg-12 py-1">
                           {{form.new_password2}}
                            {{form.new_password2.errors}}
                        </div>


                        <div class="col-lg-12">
                            <button class="  btn-block " type="submit">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section End -->

{% endblock content %}
